.heading{
    color: rgb(206, 99, 99);
    font-size: 200%;
    font-weight: 500;
}
.card{
    background-color: #CEE5D0 !important;
    box-shadow: 10px 10px 5px #888 !important;
    padding-bottom: 3% !important;
}
.field{
    font-size: 120% ;
    color: #54436B;
     font-weight: 700;
}
.value{
    font-size: 110%;
    color: #766161;
    font-weight: 650;
}