a.active_class{
    color: rebeccapurple;
    border-bottom: 2px solid red;
}

a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    font-weight: 600;

}
.companyname{
    font-size: 35px;
    color: #708886 !important;
    font-weight: 700;
}
